/* 
1. Posicionamiento
2. Modelo caja (model box)
3. Tipografía
4. Visuales
5. Otros
*/
:root{
    /* Colores */
    --btn-magenta: #DC01A3;
    --soft-orange:#FCBB45;
    --black:#1E1E1E;
    --just-white:#fff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    background-color: #000;
    color: var(--soft-orange);
}
header{
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 390px;
    max-width: 500px;
    height: 247px;
    text-align: center;
    background-image: url("../assets/images/BG-main1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header--menu-container{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 85%;
    height: 24px;
    margin-top: 12px;
}
.header--btn-social-media-container{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 40%;
    max-width: 900px;
    margin-bottom: 15px;
}
.menu-container{
    margin: 49px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 390px;
    max-width: 500px;
    height: 247px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.btn-home{
    padding:5px 30px;
    border: 1px solid #fff;
    color: #fff;
}
.btn-mastermind{
    padding:5px 16px;
    color: #fff;
    border: 1px solid var(--btn-magenta);
    background-color: var(--btn-magenta);
}
 h2{
    font-family: "Inika", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
}
iframe{
    margin-top: 15px;
}